body{
  margin:0;
  font-family:Comic Sans MS, Arial;
  background:#fff4cc;
  text-align:center;
}

header{
  background:#ff9800;
  color:white;
  padding:20px;
}

.btn{
  display:inline-block;
  background:#4caf50;
  color:white;
  padding:15px 25px;
  margin:20px;
  text-decoration:none;
  border-radius:12px;
  font-size:18px;
}

footer{
  margin:30px;
}
